{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de compras</title>
    <link rel="stylesheet" href="{% static 'css\estilo.css' %}" />
  </head>
  <body>
    <img src="{% static 'images/mercado.jpg' %}" />
    <div class="formulario">
      <form action="{% url 'index' %}" method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class = "botao">Adicionar</button>
        <br>
      </form>
    </div>

    <div class="tabela">
      <table>
        <thead>
          <tr>
            <th><h3>Produto</h3></th>
            <th><h3>Quantidade</h3></th>
            <th><h3></h3></th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr>
            <td>{{produto.Nome}}</td>
            <td>{{produto.Quantidade}}</td>
            <td><h1>X</h1></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
